* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.background {
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -9;
    background-color: #e1f4ff;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);


}

/* Header Section */

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
    color: #252b42;


    & h4 {
        font-size: 20px;
        cursor: pointer;
    }

    & nav {
        display: flex;
        align-items: center;
        justify-content: center;
        & ul {
            display: flex;
            width: 100%;
            gap: 32px;
            font-weight: 600;

            & li {
                cursor: pointer;
                opacity: 60%;
                transition: all 0.5s ease;
            }

            & li:hover {
                opacity: 100%;
            }
        }
    }

    & .signup-btn {
        background-color: white;
        padding: 8px 20px;
        font-weight: 800;

        border-radius: 30px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.1);
    }
}

/* Hero Section */

.hero {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    gap: 10%;

    & .hero-content {
        width: 30%;
        margin-top: 60px;

        & h1 {
            font-size: 50px;
            font-weight: 950;
            letter-spacing: 1px;
            color: #252b42;
            margin-bottom: 20px;
        }

        & p {
            font-size: 14px;
            letter-spacing: 1px;
            width: 90%;
            opacity: 50%;
        }
    }
    & .hero-image {
        display: flex;
        align-items: center;
        position: relative;
        /* margin-top: 50px; */
        & img {
            width: 500px;
        }


    }

     .hero-image::before {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: blue;
        opacity: 50%;
        border-radius: 50%; /* Makes it a circle */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

    }




}

/* Features Section */

.features {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 30px;

    & .feature1 {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & .feature1-content {
            width: 200px;
            height: 175px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            padding: 10px 30px;

            & img {
                width: 25%;
            }

            & p {
                text-align: center;
                font-size: 14px;
                font-weight: 100;
                opacity: 50%;
            }

            & p:nth-of-type(1) {
                font-size: 18px;
                opacity: 100%;
                font-weight: 800;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
    }



    .feature2, .feature3 {
        /* position: relative; */
        width: 80%;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 120px;


        .feature2-content, .feature3-content {
            width: 100%;

            & h3 {
                font-size: 48px;
                font-weight: 900;
                color: #252b42;
                margin-bottom: 16px;
            }

            & p {
                font-size: 16px;
                opacity: 50%;
                margin-block: 32px;
                width: 90%;
            }

            & p:nth-of-type(2) {
                width: 75%;
            }
        }

        & .feature2-image {
            width: 100%;
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            & img:nth-of-type(1) {
                position: absolute; 
                left: -5%; 
                top: 50%; 
                transform: translateY(-50%);
            }
            
            & img:nth-of-type(2) {
                grid-column: 2 / 3;
            }

            & img:nth-of-type(3) {
                grid-column: 2 / 3;
            }

        }

        & .feature3-image {
            margin-top: 300px;
            left: 60px;
            display: grid;
            width: 100%;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

            & img:nth-of-type(2) {
                position: absolute;
                right: 10%;
                top: 20%;
            }

            & img:nth-of-type(3) {
                position: absolute;
                right: 14%;
                top: 8%;
            }

        }

        & .feature3-background {
            width: 100%;
            height: 450px;
            left: 0;
            position: absolute;
            z-index: -9;
            background-color: #e1f4ff;
            clip-path: polygon(100% 0, 0 0, 0 53%, 100% 100%);
        }
    
    }

    & .feature3 {
        margin-top: -210px;

        & .feature3-content {
            margin-top: 120px;
        }
    }


    
}

.testimonial {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 140px;
    margin-top: -120px;

    & .testimonial-content {
        width: 30%;
        margin-top: 60px;

        & h3 {
            font-size: 48px;
            font-weight: 900;
            color: #252b42;
            margin-bottom: 16px;
        }

        & p {
            font-size: 16px;
            opacity: 50%;
            margin-block: 32px;
            width: 90%;
        }

        & .testimonial-btn {
            display: flex;
            gap: 20px;

            & img {
                cursor: pointer;
            }
        }
    }

    & .testimonial-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 120px;

        & img {
            width: 100%;
        }
    }
}

/* Call to Action */

.cta {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 240px;
    gap: 10%;
    position: relative;
    margin-top: 200px;

    & .cta-content {
        color: #252b42;

        & h3 {
            font-size: 48px;
            font-weight: 900;

        }

        & p {
            font-size: 16px;
            opacity: 50%;
            margin-block: 16px;
        }
    }

    & .cta-btn {
        background-color: #ec5c2e;
        padding: 10px 20px;
        font-weight: 900;
        color: white;
        border-radius: 5px;
        position: absolute;
        right: 20%;
    }
}


.contact {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10%;
    width: 100%;
    margin-top: 150px;

    & div:nth-of-type(1) {
        position: absolute;
        left: 200px;
        display: flex;
        flex-flow: column;


        & h3 {
            font-size: 24px;
            font-weight: 900;
            color: #252b42;
            margin-bottom: 16px;


        }            
        & p {
                font-size: 16px;
                opacity: 50%;
                width: 80%;
                margin-bottom: 40px;
        }

        & .social-icons {
            display: flex;
            flex-flow: row;
            bottom: 0;
            gap: 10px;
            left: 0;

            & img {
                cursor: pointer;
            }
        }
            
    }

    & div:nth-of-type(2) {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        margin-right: 300px;
        padding-top: 70px;
        column-gap: 40px;

        & p {
            font-size: 14px;
            opacity: 50%;
            font-weight: 700;
            color: #252b42;
        }

        & p:nth-of-type(1), p:nth-of-type(2) {
            opacity: 100%;
            font-weight: 900;
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
}

footer {
    margin-top: 40px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    background-color: #e1f4ff;
}


/* Media Queries */

@media (prefers-color-scheme: dark) {
    * {
        color: white !important;
    }

    body {
        background-color: #252b42;
    }

    .signup-btn {
        color: #252b42 !important;
    }


    .background {
        background-color: #394264;
    }

    header {

        & .signup-btn {
            background-color: white;
            color: #252b42;
        }
    }

    .hero {
        .hero-image::before {
        background-color: #ec5c2e;
        }
    }

    .features {
        & .feature1-content {
            background-color: #394264;
        }

        & .feature3-background {
            background-color: #394264 !important;
        }
    }

    footer {
        background-color: #394264;
    }

}
